
.dashWrapper
    position: relative
    min-height: 100%

.dashNav
    position: fixed
    top: 0
    left: 0
    right: 0
    user-select: none

    & .userPanel
        
        & li
            text-align: center

            padding: 0 20px
            user-select: none
        a 
            user-select: none // nie działa
        #adminSQL
            // display: none

@media (min-width: 991px) and (max-width: 1080px)
    #dashSearchBox
        display: none

@media (max-width: 700px)
    .dashboardTitle
        
@media screen and (max-width: 750px)    
    .dashboardTitle .container .display-4
        font-size: 1.5rem
        padding-top: 5vh
        
        ~ p
            font-size: 0.8rem



#dashboardMain
    

    & .dashboardTitle
        text-align: center
        user-select: none
        margin-top: 3vh

.dashboardFooter
    padding: 5px 0
    clear: both
    position: fixed
    bottom: 0
    left: 0
    right: 0
    min-height: 4vh
    background-color: #343A40
    color: white
    line-height: 4vh
    text-align: center
    z-index: -1


    & p
        margin: 0
        user-select: none

